* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 18px;
  }
}

body {
  color: #515151;
  background-color: #e1e1e1;  
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* Site header */
header {
  display: inline-block;
  margin: 2rem 4rem;
  text-transform: uppercase;
  font-weight: 700;
}
header a {
  text-decoration: none;
}

/* Links */
a {
  color: #313131;
  text-decoration: underline;
}
h1 a {
  text-decoration: none;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  line-height: 1.25;
  color: #313131;
  text-rendering: auto;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #313131;
  text-decoration: bold;
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Code */
code, pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  line-height: 1.4;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
}
pre code {
  padding: 0;
}

.logo {
  padding: 0 2rem 0 0;
  display: inline-block;
  vertical-align: baseline;
}

.nav {
  padding: 0 0.5rem 0 0;
  display: inline-block;
  vertical-align: baseline;
}

.content {
  margin: 4rem 4rem 2rem;
  text-transform: initial;
  font-weight: 400;
}

.post-date {
  display: block;
  font-size: .85rem;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  /* color: #9a9a9a ; */
}